/* ---- General ---- */
body {
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
/* ---- Back to top ---- */
#back-to-top > button{
    background-color: rgb(24, 27, 181);
    border-radius: 50%;
    border: solid 1px rgb(65, 17, 186);
    width: 50px;
    height: 50px;
}
#back-to-top:hover > button {
    border: solid 1px rgb(57, 22, 196);
    background-color: white;
    
}
#back-to-top > button {
    text-decoration: none;
    color: whitesmoke;
    
}
#back-to-top:hover > button {
    text-decoration: none;
    color: rgb(18, 16, 178);
}
#back-to-top {
    position: fixed;
    right: 80px;
    bottom: 80px;
}



/* ---- Nav ---- */
#navbar {
    background-color: rgb(181, 18, 18);
    color: rgb(174, 97, 14);
    text-align: center;
    z-index: 1;
    position: sticky;
    top: 0px;
}
nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.nav-button > button{
    width: 100%;
    height: 100%;

}
.nav-link:hover {
    color: rgb(76, 63, 219);
    text-decoration: none;
}
/* ---- Header ---- */
#top {
    border: #9ac20a;
    display: flex;
    background-color: rgb(18, 39, 109);
    color: rgb(0, 0, 0);
    padding: 4rem;
    padding-bottom: 5rem;
    height: 25vh;
    font-weight: bolder;
}
.header-content {
    padding-right: 1rem;
    padding-left: 2 rem;
    top: 2px;
}
#header-image {
    border-radius: 10%;
    width: 300px;
    height: 225px;
    position: relative;
    top: 50px;
}
/* ---- Content ----*/
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
h2 {
    background-color: rgb(68, 150, 197);
    font-style: oblique;
    font-weight: bold;
    display: block;
}
h3 {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
    color: rgb(24, 4, 153);
}
p {
    padding: 1rem;
    padding-left: 0%;
    padding-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
/* ---- Footer ---- */
#footer {
    margin-top: 4rem;
    background-color: rgb(23, 23, 23);
    color: whitesmoke;
    text-align: center;
    padding: 2rem;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon {
  border-radius: 100px;  
  margin: 20px;
  text-align: center;
  
  line-height: 50px;
  font-family: sans-serif;
  overflow: visible;
  transition: all 2s ease-out;
}
.social-icon:hover {
  cursor: pointer; 
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
/* ---- Mobile----- */
@media only screen and (max-width:650px){
    body { 
        background-color: rgb(0, 255, 251);
        font-size: 3vw ;
        padding: 2rem;
    }
    .hero-image { font-size: 2vh;
        padding: 2rem;
    }
    h1 {
        font-size: 4vh;
      
    }
    h2 {
        font-size: 3vh;
    }
    h3 {
        font: 2vh;
    }
    p {
        font-size: 1.2vh;
        text-size-adjust: 1.2vh;
    }
    #header-content {
        font-size: 2vh ;
    }

    }
    /*---- Tablet ----- */
    @media only screen and (max-width: 946px) {
        body {
            background-color: rgb(240, 10, 190);
            size: 5vh;
            padding: 20px,

        }
        
    }

    
        





    
